<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>測試查詢資料</title>
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
            text-align:center;
        }
        tr:hover {background-color: #D6EEEE;}
    </style>
</head>
<body>
    <table style="width: 1500px">
        <thead>
            <tr>
                <th>筆數</th>
                <th>時間</th>
                <th>gyro_X軸</th>
                <th>gyro_Y軸</th>
                <th>gyro_Z軸</th>
                <th>acc_X軸</th>
                <th>acc_Y軸</th>
                <th>acc_Z軸</th>
            </tr>
        </thead>
        <tbody>
            
            <% for(let i = 0; i < sensorData.length; i++){ %>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= moment(sensorData[i].instant).format("MMMM Do YYYY, h:mm:ss a") %></td>
                    <td><%= sensorData[i].gyroX %></td>
                    <td><%= sensorData[i].gyroY %></td>
                    <td><%= sensorData[i].gyroZ %></td>
                    <td><%= sensorData[i].accX %></td>
                    <td><%= sensorData[i].accY %></td>
                    <td><%= sensorData[i].accZ %></td>
                </tr>                
            <% } %>
        </tbody>
    </table>

</body>
</html>